
h1, 
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
	color: #333333;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #333333;
}

main {
	padding: 0px 50px 0px 50px;
	margin-top: 150px;
	margin-bottom: 50px;
}

a:link,
a:visited {
	color: #333333;
	text-decoration: none;
}

a:hover,
a:active {
	color: #F49B89;
}

footer {
	text-align: center;
	background-color: #f1f1f1;
	padding: 30px 10px 30px 10px;
}
nav {
	display: flex;
	justify-content: space-between;
	top: 0px;
	left: -2px;
	background-color: #ffffff;
	position: fixed;
	width: 100%;
	-webkit-box-shadow: 0 8px 6px -6px #cccccc;
	-moz-box-shadow: 0 8px 6px -6px #cccccc;
	box-shadow: 0 8px 6px -6px #cccccc;
	z-index: 2;
}

nav ul {
	list-style-type: none;
	display: flex;
	color: #333333;
	font-family: 'Raleway', sans-serif;
	padding-bottom: 10px;
	width: 100%;
}

nav ul li {
	padding: 15px 10px 0px 10px;
}

button {
	background-color: Transparent;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #333333;
	color: #333333;
	font-size: 0.8em;
}

button:hover {
	background-color: #333333;
	color: white;
}

#logo {
	width: 180px;
	margin: 15px 0px 0px 30px;
}

#featured {
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 30px;
}

#featuredImg {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

#featuredContent {
  position: absolute;
  top: 80px;
  left: 30px;
}

#featuredContent h1 {
	font-size: 3em;
	margin-bottom: -10px;
}

#featuredContent h2 {
	font-size: 2em;
	margin-bottom: -20px;
}

#featuredContent p {
	font-size: 1.6em;
}

#featured button {
	font-size: 1em;
}

.bookList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.bookContainer a:hover {
	text-decoration: underline;
	color: black;
}

.bookContainer {
	padding: 0px 15px 0px 15px;
	width: 15%;
}

.bookThumbnail {
	border-radius: 5px;
	width: 70%;
	border: 1px solid #f1f1f1;
}

.author {
	margin-top: -15px;
	color: #777777;
}

#cta {
	width: 90%;
	padding: 50px 30px 50px 30px;
	background-color: #F4E9D8;
	border-radius: 5px;
	margin: 30px 0px 30px 0px;
}

#cta p {
	width: 40%;
	margin-top: -10;
}

@media screen and (max-width: 980px){ 
#featuredContent {
  position: absolute;
  top: 10px;
  left: 10px;
}

#featuredContent h1 {
	font-size: 0.8em;
}

#featuredContent h2 {
	font-size: 0.8em;
	margin-bottom: 20px;
}

#featuredContent p {
	font-size: 0.8em;
}

#featured button {
	font-size: 0.8em;
}

#featured button {
	visibility: hidden;
}

.bookContainer {
	padding: 0px 15px 0px 15px;
	width: 90%;
}

}